<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_imu_publisher" args="0 0 0 0 0 0 base_footprint imu" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find ddzz_pose_estimation)/params/ekf.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
